name = "blog-koriel-kr"
compatibility_date = "2025-01-01"
workers_dev = false
preview_urls = false

[assets]
directory = "./dist"
html_handling = "auto-trailing-slash"
not_found_handling = "single-page-application"
